.logo{
  width:250px
}
.camera{
  width:100px;
  float: right;
  background-color: white;
}
.logo-container{
  margin-top: 20px;
}
.main{
  margin-top: 40px;
  text-align: center;
}
.create-post-section{
  padding: 30px 50px;
}
.author,.location,.discription{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  margin-right: 5px;
}
.insta-post-button {
  background-color: #007bff; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer; 
  margin-top: 10px; 
}

.insta-post-button:hover {
  background-color: #0069d9; 
}

.file{
  margin-bottom: 10px;
}